/* Akhila */
#bike {
  width: 100px;

  height: 100px;

  position: relative;

  animation: bike 8s infinite;
}

@keyframes bike {
  0% {
    left: 250px;
  }

  50% {
    left: 20px;

    transform: scaleX(1);
  }

  51% {
    transform: scaleX(-1);
  }

  100% {
    left: 75%;

    background-size: contain;

    transform: scaleX(-1);
  }
}

.imagesbh {
  display: flex;
  padding-top: 200px;
  padding-left: 200px;
  width: 600px;
  height: 400px;
}

.home {
  width: 100px;
  height: 100px;
  position: fixed;
  left: 1230px;
}

.rest {
  width: 100px;
  height: 100px;
}
