/* Akhila */
.btn {
  padding: 0.45rem 1.5rem 0.35rem;
}

.gradient-custom {
  background-color: #fd8a7d;
}

.rightContainer {
  align-items: right;
  /* width: 300px; */
}
.leftcontainer {
  padding-left: 20px;
  width: 1000px;
}

.usebutton {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.show > .dropdown-menu {
  display: block;
  position: absolute;
}
