/*footer*/
.order-footer {
  position: relative;
  height: 40px;
  line-height: 40px;
  padding-left: 6px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.checkedInfo {
  position: absolute;
  top: 60px;
  right: 0;
}

.orderNow-btn {
  position: absolute;
  right: 0;
}