/* Akhila */
body {
  margin: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  font-weight: 250;
}

.text-center {
  text-align: center;
}
