/* Akhila */
body {
  margin: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  font-weight: 250;
}

.text-center {
  text-align: center;
}

.order-title {
  margin-top: 50px;
}

.order-table {
  margin-top: 20px;
}