.filter-option-categories {
  font-size: 1.5rem;
  line-height: 40px;
}

.filter-option-price,
.filter-option-taste {
  font-size: 1.5rem;
  line-height: 40px;
  margin-top: 35px;
}

.filter-option-btn {
  margin: 5px 10px 5px 0;
}